@media (orientation: landscape) {
	#grid {
		display: grid;

		grid-template-areas: "head head head"
							 "info info info"
							 "vid1 vid2 vid3"
							 "blog blog blog"
							 "foot foot foot";

		grid-auto-columns: auto 1fr;
		grid-template-rows: auto 1fr auto;
	}
}

#head 	{
			grid-area: head
		}
#info 	{
			grid-area: info
		}
#vid1 	{
			grid-area: vid1;
			justify-self: center;
		}
#vid2 	{
			grid-area: vid2;
			justify-self: center;
		}
#vid3 	{
			grid-area: vid3;
			justify-self: center;
		}
#blog 	{
			grid-area: blog
		}		
#foot 	{
			grid-area: foot
		}
